.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-rosrelwithdebinfo/
cmake-build-rosrelease/
cmake-build-rosdebug/
build*/
.vscode/
*pycache*
*egg-info*
*wandb/
*data/
*logs/

domains/2d_mapf/datasets/
*mp4
*gif
*png
*jpg
domains/2d_mapf/paths.yaml
